<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <titleWizard</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">

  <link rel= "stylesheet" href= "{{ url_for('static',filename='/assets/css/bd-wizard.css') }}">
  <link rel= "stylesheet" href= "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel= "stylesheet" href= "https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
</head>
<body>

  
  <header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white">
      <div class="container">
        <a class="navbar-brand" href="#"><img src="{{ url_for('static',filename='/assets/images/logo.svg')}}" alt="logo"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
          aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="d-flex align-items-center">
    <div class="container">
        <div id="wizard">
          <h3>Step 1 Title</h3>
          <section>
           <h5 class="bd-wizard-step-title"></h5>
           <h2 class="section-heading">Ethical Assessment  </h2>
           <p>Technology Information. 
             <br>This part, is to get the information about the technology evaluated.
           </p>
           <div class="purpose-radios-wrapper">
            <div class="purpose-radio">
              <input type="radio" name="purpose" id="branding" class="purpose-radio-input" value="Branding" checked>
             <label for="branding" class="purpose-radio-label">
               <span class="label-icon">
                <center>
                  <img src="{{ url_for('static',filename='/assets/images/ordenador-portatil-off.png')}}" width="20%" alt="branding" class="label-icon-default">
                 <img src="{{ url_for('static',filename='/assets/images/ordenador-portatil.png')}}" width="20%" alt="branding" class="label-icon-active">
               </center>
               </span>
               <span class="label-text">Technology</span>
             </label>
            </div>
            <div class="purpose-radio">
              <input type="radio" name="purpose" id="web-design" class="purpose-radio-input" value="Web Design">
             <label for="web-design" class="purpose-radio-label">
               <span class="label-icon">
                <center>
                  <img src="{{ url_for('static',filename='/assets/images/expectation.png')}}" width="20%" alt="branding" class="label-icon-default">
                  <img src="{{ url_for('static',filename='/assets/images/expectation-on.png')}}" width="20%" alt="branding" class="label-icon-active">
                </center>
                </span>
                <span class="label-text">Analysis Expectations</span>
             </label>
            </div>
              
                <div class="purpose-radio">
                   <input type="radio" name="purpose" id="mobile-design" class="purpose-radio-input" value="Mobile Design">
                  <label for="mobile-design" class="purpose-radio-label">
                    <span class="label-icon">
                      <center>
                        <img src="{{ url_for('static',filename='/assets/images/scale-off.png')}}" width="20%" alt="branding" class="label-icon-default">
                        <img src="{{ url_for('static',filename='/assets/images/scale.png')}}" width="20%" alt="branding" class="label-icon-active">
                      </center>
                      </span>
                      <span class="label-text">Ethical Analysis</span>
                  </label>
                 </div>
                 
                  
                
           </div>
          </section>
          <h3>Step 2 Title</h3>
          <section>
            <h5 class="bd-wizard-step-title">(Part 1)</h5>
            <h2 class="section-heading">Technology</h2>
            <p>Technology Information. 
              <br>This part, is to get the information about the technology evaluated.
            </p>
            <form action="{{ url_for("gfg")}}" method="post">
            <div class="form-group">
              <label for="firstName" class="sr-only"></label>
              <input type="text" name="name" id="name"  class="form-control" placeholder="Name of evaluated Technology">
            </div>
            <div class="form-group">
              <input type="text" name="version" id="version"  class="form-control" placeholder="Which is the version of this Technology?">
            </div>
            <div class="form-group">
              <input type="text" name="techniques" id="techniques"  class="form-control" placeholder="What kind of Techniques contains of the Technology?">
            </div>
            <div class="form-group">
              <input type="text" name="task_tech" id="task_tech"  class="form-control" placeholder="What is the main task of these techniques?">
            </div>
            <div class="form-group">
              <input type="text" name="features" id="features"  class="form-control" placeholder="Which are the main features of the Technology?">
            </div>
            <div class="form-group">
              <input type="text" name="users" id="users"  class="form-control" placeholder="Who are the users of the Technology?">
            </div>

            <button type="submit">Login</button>
            </form>
          </section>
          <h3>Step 3 Title</h3>
          <section>
              <h5 class="bd-wizard-step-title">(Part 2)</h5>
              <h2 class="section-heading mb-5">Analysis Expectation</h2>
              <form action="{{ url_for("gfg")}}" method="post">
              <div class="form-group">

                <p>If you create an Ethical assessment by levels, write about your findings:
                </p>
                
                <input type="text" name="tl" id="tl"  class="form-control" placeholder="Technology Level">
              </div>
              <div class="form-group">
                <input type="text" name="al"  id="al" class="form-control" placeholder="Artefact Level">
              </div>
              <div class="form-group">
                <input type="text" name="appl" id="appl" class="form-control" placeholder="Application Level">
              </div>
              <div class="form-group">
                <p>In your Ethical Evaluation:
                </p>
                <input type="text" name="issues" id="issues" class="form-control" placeholder="What ethical issues have you identified? (you can see the ethical list)">
              </div>
              <div class="form-group">
                <input type="text" name="benefits" id="benefits" class="form-control" placeholder="What was the benefits about the ethical issues?">
              </div>
              <div class="form-group">
                <input type="text" name="negative" id="negative" class="form-control" placeholder="What was the Negative Implication about the ethical issues?">
              </div>
              <button type="submit">Login</button>
              </form>
          </section>

          <h3>Step 3 Title</h3>
          <section>
              <h5 class="bd-wizard-step-title">(Part 3)</h5>
              <h2 class="section-heading mb-5">Expectation Analysis</h2>
              <form action="{{ url_for("gfg")}}" method="post">
              <div class="form-group">

                <p>If you create an Ethical assessment by expectations, write about your findings:
                </p>
                <input type="text" name="tf" id="tf" class="form-control" placeholder="Did you identify Technology feasibility?">
                <p> Expectations about cheracteristics and functioning of the Technology</p>
              </div>
              <div class="form-group">
                <input type="text" name="su" id="su"  class="form-control" placeholder="Did you identify Social Usability? ">
                <p>Expectations about how the technology will be adopted by the intended users and how it will be integrated in current practice</p>
              </div>
              <div class="form-group">
                <input type="text" name="d"  id="d" class="form-control" placeholder="Did you identify Desirability? ">
                <p>Expectations about  how technology will address a social problem or need</p>
              </div>
              <div class="form-group">
                <p>In your Ethical Evaluation:
                </p>
                <input type="text" name="issues2"  id="issues2" class="form-control" placeholder="What ethical issues have you identified? (you can see the ethical list)">
              </div>
              <div class="form-group">
                <input type="text" name="benandneg" id="benandneg" class="form-control" placeholder="What was the benefits and Negative Implication about the ethical issues?">
              </div>
              <button type="submit">Login</button>
              </form>
          </section>
        </div>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static',filename='/assets/js/jquery.steps.min.js')}}"></script>
  <script src="{{ url_for('static',filename='/assets/js/bd-wizard.js')}}"></script>
</body>
</html>

  